@import '../../app/style_utilities/variables';

p, span, a, ul, li, button {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

h3 {
    margin: 0;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 18px;
    font-weight: 300;
}

a:link {
    text-decoration: none;
  }

  .tile {  
      width: 100%;
      display: inline-block;
      padding: 20px;
      margin-bottom: 10px;
      cursor: pointer;
    
    .title {
          margin-top: 0px;
          font-size: 16px;
          line-height: 16px;
          font-size: 1.6rem;
      }
    
    &.purple, &.blue, &.red, &.pink, &.yellow {
      color: #707070
    }
    
    &.purple {
      border-left: 5px solid $color_purple;
    }
    
    &.red {
        border-left: 5px solid $color_red;
  
    }
    
    &.pink {
        border-left: 5px solid $color_pink;
  	
    }
    
    &.blue {
        border-left: 5px solid $color_blue;
  
    }
    
    &.yellow {
        border-left: 5px solid $color_yellow;
  
    }
  }

  .account-wrapper {
    margin: 0 0 10px;
    border: 1px solid #e4e1e1;
    background: #fff;
    box-shadow: 0 1px 3px 0 #eaeaea;
    border-radius: 3px;
  }

    .card {
        float: left;
        width: 60px;
        margin: 0 8px 0 0;
        height: auto;
    }
    img {
        max-width: 100%;
        height: auto!important;
    }
    .type {
        font-size: 12px;
        line-height: 15px;
    }
    .more {
        font-size: 11px;
        line-height: 11px;
        font-weight: bold;
        color: #8a898a;
    }
    .light {
        font-weight: lighter;
    }

        .amount {
            margin: 8px 0 0;
            font-weight: 300;
            text-align: right;
        }
        .amount label {
            color: #999;
        }
        label {
            margin: 0;
            display: inline-block;
            font-size: 11px;
            line-height: 14px;
            font-weight: 300;
        }
        .amount .value {
            color: #666;
        }
        .value {
            line-height: 18px;
            font-size: 14px;
        }
        .value .sub {
            font-size: 11px;
            line-height: 11px;
            font-size: 1.1rem;
        }
        .colored {
            font-size: 16px;
            color: #a381b8;
        }