@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../src/app/style_utilities/variables';

body {
    font: 14px/17px 'CustomCalibri','Calibri',Arial,'Carlito',Helvetica,sans-serif;
    font-weight: normal;
    background: #f2f2f2;
    color: #666;
    height: 100%;
    width: 100%;
}